$horizontal-page-margin: 30px !default;
$horizontal-page-margin: 30px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;
$cell-horizontal-padding: 12px !default;
$section-padding: 15px !default;
$text-input-horizontal-padding: 10px !default;

#wrapper {
  display: table;
  width: 100%;
}

#active_admin_content { 
  margin: 0; 
  padding: 25px $horizontal-page-margin; 
  
  #main_content_wrapper { 
    float: left; 
    width: 100%; 

    #main_content{ 
      margin-right: 300px; 
    }
  }

  &.without_sidebar #main_content_wrapper #main_content{ margin-right: 0; }

  #sidebar { 
    float: left; 
    width: $sidebar-width; 
    margin-left: -$sidebar-width;
  }
}