@import "../components/buttons";
$horizontal-page-margin: 30px !default;
$primary-color: #5E6469 !default;
$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: lighten($primary-color, 57%) !default;
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;

// Sizes
$horizontal-page-margin: 30px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;
$cell-horizontal-padding: 12px !default;
$section-padding: 15px !default;
$text-input-horizontal-padding: 10px !default;

$section-header-text-color: $primary-color !default;
@mixin icon-size ($size) {
  span.icon { width: $size; height: $size; }
  span.icon svg { width: $size; height: $size; }
}
@mixin icon-color ($color) {
  span.icon svg {
    path, polygon, rect, circle { fill: $color !important; }
  }
}

@mixin icon($color, $size) {
  @include icon-color($color);
  @include icon-size($size);
}
@mixin inset-shadow($x: 0, $y: 1px, $blur: 2px, $color: #aaa) {
  box-shadow: inset $x $y $blur $color;
  -moz-box-shadow: inset $x $y $blur $color;
  -webkit-box-shadow: inset $x $y $blur $color;
}

@mixin text-shadow($color: #fff, $x: 0, $y: 1px, $blur: 0) {
  text-shadow: $color $x $y $blur;
}
@mixin rounded($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($value: 0 1px 1px rgba(0,0,0,0.10), $value2: 0 1px 1px rgba(0,0,0,0.10)) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  -o-box-sizing: $value;
  -ms-box-sizing: $value;
  box-sizing: $value;
}
@mixin section-header {
//  @include secondary-gradient;
  @include text-shadow;
  border: solid 1px #cdcdcd;
//  @include border-colors(#e6e6e6, #d4d4d4, #cdcdcd);
  @include box-shadow(0 1px 3px rgba(0,0,0,0.12), 0 0 1px #FFF inset);

  font-size: 1.0em;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 0.5em;
  color: $section-header-text-color;
  @include icon($section-header-text-color, 1.0em);

  padding: 5px 10px 3px 10px;
}

@mixin section-background {
  background: #f4f4f4;
  @include rounded(4px);
  @include inset-shadow(0,1px,4px, #ddd);
}

@mixin section {
  @include section-background;
  margin-bottom: 20px;

  > h3 { @include section-header; }

  > div { padding: 3px $section-padding $section-padding $section-padding; }

  hr {
    border: none;
    border-bottom: 1px solid #E8E8E8;
  }
}

@mixin box-shadow($value: 0 1px 1px rgba(0,0,0,0.10), $value2: 0 1px 1px rgba(0,0,0,0.10)) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  -o-box-sizing: $value;
  -ms-box-sizing: $value;
  box-sizing: $value;
}
@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
}

@mixin icon-color ($color) {
  span.icon svg {
    path, polygon, rect, circle { fill: $color !important; }
  }
}
#title_bar {
  @include section-header;
  @include clearfix;
//  @include box-sizing(border-box);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.37));
  display: table;
  border-bottom-color: #EEE;
  width: 100%;
  position: relative; 
  margin: 0; 
  margin-bottom: 15px;
  padding: 10px $horizontal-page-margin; 
  z-index: 800;
  
  #titlebar_left, #titlebar_right {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
  }
  
  #titlebar_right {
    text-align: right;
  }
  
  h2 { 
    margin: 0;
    padding: 0; 
    font-size: 2.6em;
    font-weight: bold;
  }

  .action_items { 
    a { 
//      @include light-button;
      padding: 12px 17px 10px;
      span.icon { vertical-align: bottom; margin-right: 4px;} 
      margin: 0px;
      
      &:hover{
        @include icon-color(#000);
      }
    }
  }
}